.course__details {
  padding: 10rem 4rem;
  padding-bottom: 0;
}

.course__content {
  gap: 3rem;
}

.course__content img {
  width: 50%;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}

.course__info {
  width: 50%;
}

.course__info h2 {
  font-size: 3rem;
  font-weight: 600;
}

.course__info .course__description {
font-size: 1.1rem;
}

.course__info span i {
  font-size: 1.1rem;
  color: var(--heading-color);
}

.course__reviews {
  border: 2px solid rgb(201, 195, 195);
  border-radius: 8px;
  padding: 2rem;
}

.tour__reviews h4 {
  margin-bottom: 3rem;
}

.rating__group span {
  cursor: pointer;
}

.review__input {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 0.5rem;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid var(--prim-color);
  padding: 0.7rem;
}

.review__input textarea {
  width: 100%;
  height: 10rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  background: transparent;
}

.review__input textarea:focus {
  outline: none;
}

.user__reviews {
  padding: 0 1rem;
}

.review__item {
  display: flex;
  align-items: start;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

.review__item img {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  object-fit: cover;
}

.user__reviews {
  margin-top: 2.5rem;
}

.review__item h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

.review__item p {
  font-size: 0.9rem;
  color: var(--text-color);
}

.review__item span i {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.review__item span {
  font-weight: 500;
}

/* Responsiveness */

@media only screen and (max-width: 768px) {
  .tour__extra-details {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .tour__extra-details span {
    font-size: 0.9rem !important;
  }

  .tour__extra-details span i {
    font-size: 1rem;
  }
}
